@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Text:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";



body {
  font-family: 'Montserrat', sans-serif !important;
  overflow-x: hidden !important;
}


